@import "normalize";
@import "colors";
@import "grid";

body {
	background-color: $color_background;
	min-height: 100vh;
	color: $color_white;
}

a,
input {
	outline: none;
}

a,
input[type='submit'] {
	transition: .4s ease all;
	text-decoration: none;
	color: $color_white;
	&:hover {
		color: $color_vue;
	}
}

.event-icon {

	svg {
		width: 18px;
		height: 18px;
		path {
			transition: .4s ease all;
			fill: white;
		}
	}

	&:hover {
		path {
			fill: #42b883;
		}
	}
}
